asgiref
Authlib
certifi
cffi
charset-normalizer
crypto
cryptography
distlib
Django
django-cors-headers
django-debug-toolbar
django-environ
filelock
idna
Naked
pipenv
platformdirs
pyasn1
pycparser
pycryptodome
python-dotenv
PyYAML
requests
rsa
setuptools
shellescape
sqlparse
typing_extensions
urllib3
virtualenv
