{% extends "design/base.html" %}
{% block content %}
<section class="gradient-custom">
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center">
        {% comment %} <div class="col-12 col-md-8 col-lg-6 col-xl-5"> {% endcomment %}
        <div class="col-12">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <div class="mb-md-1 mt-md-2 pb-5">
                <h3 class="fw-bold mb-2">Authentication Demo Application</h3>
                <p class="text-white-50 mb-5">Authentication Demo Application using Django</p>
                <form method="post" action="{% url "authenticate" %}">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Authentication Type</label>
                        <div class="col-sm-10">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="input_bio" name="input_bio">
                                <label class="form-check-label" for="input_bio">Fingerprint</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="input_otp" name="input_otp">
                                <label class="form-check-label" for="input_otp">OTP</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="input_demo" name="input_demo">
                                <label class="form-check-label" for="input_demo">Demographic</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="input_ekyc" name="input_ekyc">
                                <label class="form-check-label" for="input_ekyc">eKYC</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Individual ID</label>
                        <div class="col-sm-10">
                            {% comment %} <div class="form-floating mb-3">
                                <input type="range" class="form-range" min="0" max="9999999999999999" id="individual_id" name="individual_id" oninput="this.nextElementSibling.value = eToNumber(this.value)">
                                <output></output>
                            </div> {% endcomment %}
                            <input type="text" class="form-control" id="individual_id" name="individual_id">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Individual ID Type</label>
                        <div class="col-sm-10">
                            <select class="form-select mb-3" id="individual_id_type" name="individual_id_type" aria-label="example">
                                <option selected disabled>--- Select ---</option>
                                <option value="PCN">PCN</option>
                                <option value="AlyasPSN">Alyas PSN</option>
                                <option value="UID">UID</option>
                                <option value="VID">VID</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6" style="border: solid thin;">
                            <label class="col-form-label">Biometric Authentication (Not Working)</label>
                            <div class="col-sm-12">
                                <select id="individual_id_type" name="individual_id_type" class="form-select mb-3" aria-label="example" disabled>
                                    <option selected disabled>--- Select ---</option>
                                    <option value="PCN">PCN</option>
                                    <option value="AlyasPSN">Alyas PSN</option>
                                    <option value="UID">UID</option>
                                    <option value="VID">VID</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6" style="border: solid thin;">
                            <label class="col-form-label">OTP Authentication</label>
                            <div class="row justify-content-center mb-3">
                                <div class="col-6">
                                    <input type="button" class="btn btn-secondary" id="btn-request-otp" value="Request OTP">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Enter OTP:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="input_otp_value" name="input_otp_value">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-12" style="border: solid thin;">
                            <div class="d-flex justify-content-start">
                                <label class="col-form-label">Demographic Authentication</label>
                            </div>
                            <div class="row mb-4">
                                <label class="col-sm-2 col-form-label">Identity Data</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="input_demo_value" name="input_demo_value" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-3 justify-content-start">
                            <div class="d-flex justify-content-start">
                                <button class="btn btn-primary" id="btn-submit">Send Authentication Request</button>
                            </div>
                        </div>
                        <div class="col-1 justify-content-start">
                            <div class="d-flex justify-content-start">
                                <input type="reset" class="btn btn-success" id="btn-reset" value="Reset">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-1 col-form-label">Response</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" id="authentication_response" name="authentication_response">
                        </div>
                    </div>
                    {% comment %} <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p> {% endcomment %}
                    {% comment %} <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button> {% endcomment %}
                </form>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}